<main>
  
  {{>shopheader}}

  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
     {{#each breadcrumb}}
        {{#if @last}}
          <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
        {{else}}
          <li class="breadcrumb-item"><a href={{url}}>{{name}}</a></li>
        {{/if}}
     {{/each}}
  </ol>
</nav>
<br>
<br>
<div class='row gx-2'>
  {{#with productData}}
    
      <div class='col-6'>
        <img src={{img}}  style="width:100%">
        <br>
        <div class="card mt-2 ">
                        <div class="card-body">
                        <h5 class="card-title">{{info.title}}</h5>
                              
                        
                        <p class="card-text">{{info.about}}</p>
                        <h4>Price: {{info.price}}</h4>
                        <div>
                          {{#each info.category}}
                            {{#if isHot}}
                              <span
                                class='bage text-bg-warning ms-1 rounded-pill'>&nbsp&nbsp{{name}}&nbsp&nbsp
                              </span>
                            {{/if}}
                            {{#if isNew}}
                              <span
                                class='bage text-bg-primary ms-1 rounded-pill'>&nbsp&nbsp{{name}}&nbsp&nbsp
                              </span>
                            {{/if}}
                            {{#if isBonus}}
                              <span
                                class='bage text-bg-info ms-1 rounded-pill'>&nbsp&nbsp{{name}}&nbsp&nbsp
                              </span>
                            {{/if}}

                             

                          {{/each}}
                              
                              
                              
                              
                              
                              {{#if idNew}}
                              <span
                                      class='bage text-bg-primary ms-1 rounded-pill'><small>Нове</small></span>
                              {{/if}}
                               </span>

                        </div>
                        
                      </div>
                  </div>
      </div>
      <div class='col-1'></div>
      
      <div class='col-5'>
        <table class="table">
          <thead>
            <tr>
              {{#each item.head}}
              <th>
                <b>{{this}}</b>
              </th>
              {{/each}}
              </tr>
          </thead>
          <tbody>
              {{#each item.body}}
                <tr>
                  {{#each this}}
                    <th>
                      {{this}}
                    </th>
                  {{/each}}
                <th>
              {{/each}}
          </tbody>
        </table>
        <div class="card">
           <div class="card-header">
              {{param.title}}
           </div>
          <ul class="list-group list-group-flush">
            {{#each param.list}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}

          </ul>
        </div> <br>
        {{#if alert.isError}}
        <div class="alert alert-danger" role="alert">
           {{alert.text}}
        </div>
        {{/if}}

      </div>
      
      




  {{/with}}

</div>


      <div class="card mt-2 ">
          <div class="card-body">
            {{#each productData.actionList}}
              {{#if isWarning}}
                <button type="button" class="btn btn-warning mx-2">{{name}}</button>
              {{/if}}
              {{#if isError}}
                <button type="button" class="btn btn-outline-danger mx-2">{{name}}</button>
              {{/if}}
              {{#if isSuccess}}
                <button type="button" class="btn btn-success mx-2">{{name}}</button>
              {{/if}}
              {{#if isGood}}
                <button type="button" class="btn btn-outline-success mx-2">{{name}}</button>
              {{/if}}
            {{/each}}
          </div>
      </div>
  
<br><br><br><br><hr><br>
<h2 class="text-center">{{goodsOtherBlock.title}}</h2>



 <div class="row">
      {{#each goodsOtherBlock.cards}}
       
        {{>shopcard}}
        
          
      {{/each}}
</div> 

   <br>
  <hr>
  <br> <br>
  {{>shopaction}}
  <br>
  <br>
  <hr>
  
  {{>shopfooter}}


  <main>

  <div class='row g-4'>
    <div class='col-12'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='#' class='nav-link active'>Main</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>Catalog</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>Shop list</a>
        </div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card'>
        <div class='card-body'>
          <div class='nav flex-column'>
            <div class='nav-item'>
              <div class='card m-2'>
                <a href='#' class='nav-link'>Home page</a>
              </div>
            </div>
            <div class='nav-item'>
              <div class='card m-2'>
                <a href='#' class='nav-link'>link</a>
              </div>
            </div>
            <div class='nav-item'>
              <div class='card m-2'>
                <a href='#' class='nav-link'>Item</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-8'>
      <div class='row'>
        <div class='col-12'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>PC та Ноутбук</a>
            </li>
            <li class='breadcrumb-item'>
              MacBook
            </li>
          </ol>
        </div>
        <div class='col-12'>

          <br />
          <button class='btn btn-primary rounded-pill mb-2'>
            Купити</button>
          <div class='alert alert-light'>
            <h6>Iphone 11
              <span
                class='badge text-bg-warning rounded-pill text-uppercase'
              >Топ продаж</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>