{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<header>
  <h1>
      <div>
         {{#each program}}
            {{name}}
     </div>
  </h1>
  <hr>
  {{#with location}}
    <div> <h2> {{city}}</h2></div>
    <hr>
    <div><h2>{{country}}</h2></div>
  {{/with}}
  <hr>
  <div><h2>{{date}}</h2></div>
  {{/each}}
</header>
<hr>
<br>
<br>
<br>
<main>
  {{> title data= 'Program' big=true}}
{{#each program}}
   {{#each program}}
<ul>
     <li>{{name}}</li>
    <li>{{type}}</li>
    <li>{{duration}}</li>
</ul>
    {{#with details}}
        {{#with museum}}
          <h2>{{name}}</h2> 
          {{#with location}}
          <ul>
            <li>{{address}}</li>
            <li>{{city}}</li>
            <li>{{country}}</li>
          </ul>
          
          {{/with}}
          {{#each exhibits}}
          <h2>{{name}}</h2>
          <ul>
            <li>{{artist}}</li>
            <li>{{description}}</li>
            <li>{{audio_guide}}</li>
          </ul>
          {{/each}}
        {{/with}}
        {{#with guide}}
       <h2>{{name}}</h2> 
          {{language}}
          {{rating}}
        {{/with}}
    {{/with}}
    <ul>
      <li>{{name}}</li>
      <li>{{type}}</li>
      <li>{{duration}}</li>
    </ul>
    {{#with details}}
    {{#with venue}}
   <h2>{{name}}</h2> 
   {{#with location}}
   <ul>
    <li>{{address}}</li>
    <li>{{city}}</li>
    <li>{{country}}</li>
   </ul>
   {{/with}}
    {{/with}}
    {{#each performers}}
    <ul>
      <em><li>{{name}}</li></em>
      <li>{{type}}</li>
    </ul>
    {{/each}}
    {{/with}}
    
   {{/each}}
{{/each}}
</main>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}