<div class='row'>
  <div class='col-4'>
    <p>{{number}}</p>
    <h5>{{status}}</h5>
  </div>
  {{#with amount}}
  <div class='col-2'>
    <p>{{title}}</p>
    <h5>{{value}}</h5>
    {{/with}}
  </div>
  <div class='col-4'>
    {{#each images}}
      <img width='65' height='70' src={{this}} />
    {{/each}}

  </div>
  {{#with button}}
  <div class='col-2 mt-2'>
    {{#if isPrimary}}
      <a
        type='button'
        href={{link}}
        class='btn btn-primary'
      >{{text}}</a>
    {{/if}}
  </div>
  {{/with}}
  <div><hr /></div>
</div>